body, html {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.app-container {
  background-color: transparent;
  width: 400px;
}

.header-img {
  height: 40px;
}

.rune-container {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0;
  width: 100%;
}

.button-cont {
  display: flex;
  justify-content: end;
}
