@font-face {
  font-family: "Norse-KaWl";
  src: url("src/assets/Norse-KaWl.otf");
}

@font-face {
  font-family: "Labrada";
  src: url("src/assets/Labrada-Italic-VariableFont_wght.ttf");
}

.hidden {
  display: none;
}

body, html {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  color: black;
  text-shadow: 0 0 2px white;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-img {
  height: 40px;
}
