body, html {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: end;
}

p {
  color: black;
  text-shadow: 0 0 2px white;
}

.app-container {
  width: 400px;
}

.header-img {
  height: 40px;
}

.rune-container {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0;
  width: 100%;
  height: 200px;
}

.button-cont {
  display: flex;
  justify-content: center;
}

.button {
  height: 50px;
  width: 100px;
  cursor: pointer;
}
