.rune {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rune-name {
  font-family: "Norse-KaWl", sans-serif;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 1s;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 2px 2px 5px 5px rgba(255, 255, 255, 0.05);
}

.rune-name.fade-in {
  opacity: 1;
}

.rune-subtitle {
  font-family: "Labrada", sans-serif;
  opacity: 0;
  transition: opacity 1s;
  transition-delay: 0.5s;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 2px 2px 5px 5px rgba(255, 255, 255, 0.05);
}

.rune-subtitle.fade-in {
  opacity: 1;
}

.rune-stone {
  height: 10vh;
  width: 5vh;
  background-image: url("src/assets/Rune_stone2_high_dpi.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rune-img {
  height: 10vh;
  width: 5vh;
}

.rune-img svg {
  height: 10vh;
  width: 5vh;
}

.rune-img path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.rune-img path.draw {
  animation: drawPath 1s ease-in-out forwards;
}

@keyframes drawPath {
  0% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dasharray: 800;
    stroke-dashoffset: 0;
  }
};
